*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    overflow: hidden;
    height: 450px;
    width: 250px;
    position: relative;
    margin: .5rem;

}

.figure {
    /* padding: 1rem; */
    height: 400px;

}

.img {
    transition: all 0.3s ease 0s;
    /* margin-bottom: 1rem; */
    height: 400px;
    width: 250px;
    height: auto;
    object-fit: contain;
}

.img:hover {
    
    height: auto;
    transform: scale(1.05);
    opacity: 1;
}

.link {
    text-decoration: none;

}

.title {

    color: rgb(220, 221, 222);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: .5rem;
}

.subtitle {
    color: rgb(220, 221, 222);
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: .5rem;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 342px;
    height: 500px;
    margin: 1rem;
    background-color: rgb(35, 39, 42);
}

.svg {
    display: inline-block;
    width: 2.5rem;
    color: rgb(220, 221, 222);
}