.figure {
    width: 30%;
}

.img {
    width: 500px;
    margin-bottom: 2rem;
}

.number {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(33, 150, 243);
}

.title {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.overview {
    width: 500px;
    margin: 2rem 0 3rem 0;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5rem;
}